body {
  background-color: rgb(157, 213, 248);
  font-family: 'Spirax', cursive;
  background-image: url('./images/Fishing-background-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.fish-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.fish {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.img-circle {
  border-radius: 10%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.title {
  text-align: center;
}

.nav {
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.fishingTrip {
  margin: 20px;
}

.fishingTripImage {
  height: 100px;
}
